<div class="container d-flex flex-column justify-content-center align-items-center w-100">
  <ng-container *ngIf="isError === true">
    <div
      class="alert alert-danger alert-dismissible fade show d-flex align-items-baseline justify-content-between p-3 w-50"
      role="alert">
      <div>
        <i class="fas fa-exclamation-triangle fa-lg me-2"></i>
        Incorrect Email Id or Password.
      </div>
      <button type="button" class="btn m-0 p-0" data-bs-dismiss="alert" aria-label="Close"><i
          class="fas fa-close fa-lg"></i></button>
    </div>
  </ng-container>

  <h1 class="text-center">Login</h1>

  <form class="d-flex flex-column justify-content-center align-items-center w-50" #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)">

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <div class="col-sm-12">
        <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your email" required email ngModel
          name="email" #email="ngModel">
      </div>
      <span class="error-message" *ngIf="!email.valid && email.touched">Please enter valid email!!</span>
    </div>

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-3">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your Password" name="password"
        ngModel>
    </div>

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-4 d-flex justify-content-center">
      <button class="btn btn-success w-50" (click)="signIn(loginForm)">Login</button>
    </div>

  </form>

  <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-4 text-center">
    <a routerLink="/register">Please register if you don't have account</a>
    <br>
    <a routerLink="forgot-password">Forgot password?</a>
  </div>

</div>