<div class="container d-flex flex-column justify-content-center align-items-center w-100">

  <!-- <ng-container *ngIf="isError === true">
    <div
      class="alert alert-danger alert-dismissible fade show d-flex align-items-baseline justify-content-between p-3 w-50"
      role="alert">
      <div>
        <i class="fas fa-exclamation-triangle fa-lg me-2"></i>
        Email Id already exists.Please login or try another Email Id to register.
      </div>
      <button type="button" class="btn m-0 p-0" data-bs-dismiss="alert" aria-label="Close"><i
          class="fas fa-close fa-lg"></i></button>
    </div>
  </ng-container> -->

  <ng-template #error></ng-template>

  <h1 class="text-center">Register</h1>

  <form class="d-flex flex-column justify-content-center align-items-center w-50" #registerForm="ngForm">

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter your name" name="name" ngModel
        #name="ngModel" required>
      <span class="error-message" *ngIf="name.touched && !name.valid">Name is required!!</span>
    </div>

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-3">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your email" name="email" ngModel
        required email #email="ngModel">
      <span class="error-message" *ngIf="!email.valid && email.touched">Please enter valid email!!</span>
    </div>

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-3">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your Password" name="password"
        ngModel #pass="ngModel" required>
      <span class="error-message" *ngIf="pass.touched && !pass.valid">Password is required!!</span>
    </div>

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-3">
      <label for="role" class="form-label">Role</label>
      <select class="form-select" id="role" aria-label="roles" ngModel name="role" required #role="ngModel">
        <option selected="selected" class="role">Select role</option>
        <option value="admin">Admin</option>
        <option value="customer">Customer</option>
      </select>
      <span class="error-message" *ngIf="role.touched && !role.valid">Role is required!!</span>
    </div>

    <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-4 d-flex justify-content-center">
      <button class="btn btn-success w-50" [disabled]="!registerForm.valid"
        (click)="signUp(registerForm)">Register</button>
    </div>

  </form>

  <div class="col col-12 col-xs-10 col-sm-11 col-md-12 mt-4 text-center">
    <a routerLink="/auth/login">Already have an account? Login here</a>
  </div>

</div>