<ng-container *ngIf="cartItem.length > 0; else empty">
  <div class="container d-flex justify-content-center align-items-center mt-5 text-center">
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">name</th>
          <th scope="col">quantity</th>
          <th scope="col">price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cartItem; trackBy: trackCart">

        <tr class="">
          <td scope="row">{{item.name}}</td>
          <td>{{item.stock}}</td>
          <td>{{item.price}}</td>
          <td><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteOneCartItem(item.id)"></i></td>
        </tr>

      </tbody>
    </table>
  </div>

  <h3 class="text-center mt-4"><strong>Total price: {{totalCartPrice}} </strong></h3>

  <div class="d-flex justify-content-center m-0 mt-4">
    <button type="button" class="btn btn-success me-3" (click)="placeOrder()">Place Order</button>
    <button type="button" class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
  </div>
</ng-container>

<ng-template #empty>
  <h1 class="p-5 text-center">Cart is empty..!!</h1>
</ng-template>
