<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h1 class="m-0 h-50">Order Details</h1>
    <button type="button" class="btn btn-default h-50" (click)="close()"><i class="fa fa-times fa-xl"
        aria-hidden="true"></i></button>
  </div>
  <div class="card-body">
    <p><strong>User Id: </strong>{{data.uid}}</p>
    <p><strong>Order Id: </strong>{{data.id}}</p>
    <p><strong>Ordered On: </strong>{{data.orderedDate}}</p>
    <p><strong>Status: </strong>{{data.status}}</p>

    <table class="table">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of data.item">
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.stock}}</td>
          <td>{{item.price | currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>

    <p><strong>Total Price: </strong>{{data.price}}</p>
    <p><strong>Payment Type: </strong>{{data.paymentMode}}</p>

    <ng-container *ngIf="data.status === 'pending'">
      <button type="button" class="btn btn-danger" (click)="completeOrder()">Complete Order</button>
    </ng-container>
  </div>
</div>