<button class="btn btn-success" (click)="addProducts()">Add product</button><br><br>
<button class="btn btn-primary" (click)="getProducts()">Get product</button><br><br>
<button class="btn btn-danger" (click)="deleteProduct()">Delete product</button>

<!-- <div class="container d-flex justify-content-center">
  <button class="btn btn-primary w-25 m-5" (click)="openForm()">Add <i class="fa-solid fa-plus ps-1"></i></button>
</div> -->

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td><button class="btn btn-danger" (click)="updateProduct()">Update product</button></td>
      </tr>
    </tbody>
  </table>
</div>